.NavMenu {
  display: flex;
  align-items: center;
  color: white;
  height: 6rem;
  width: 100%;
  background-color: black;
}
.NavIcon {
  font-size: 4rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
